{% extends "base.html" %}

{% block content %}

<div class="hero">

    <div class="hero-text">
        <h1>Measuring the <span>Pulse of Prosperity</span></h1>

        <p>
            This project analyzes global economic freedom using interactive
            dashboards and visual storytelling. It explores key indicators
            such as inflation rates, unemployment, GDP growth, and
            country rankings across the world.
        </p>

        <p>
            The goal is to transform complex economic data into meaningful
            insights that support awareness, policy understanding, and
            informed decision-making.
        </p>

        <a class="btn" href="/dashboard">Explore Dashboard →</a>
    </div>

    <div>
        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135755.png">
    </div>

</div>

{% endblock %}